.welcome-content {
  text-align: center;
  background-image: url(https://i.imgur.com/jKQl0pR.jpg);
  height: 500px;
}

.welcome-msg {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px 80px;
  padding: 100px 20px;
}

.home-btn {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin: 1px;
  transition: .8s;
}

.home-btn:hover {
    color: white;
  background-color:  #b9b9b938 ;
}
