.aboutme-section {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px 20px;
  padding: 100px 20px;
}

.btn {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin: 1px;
  transition: .8s;
}

.btn:hover {
    color: white;
  background-color:  #b9b9b938 ;
}
